header {
  background-color: #ffffff;
  border-bottom: #dfdfdf 1px solid;
  position: sticky;
  top: 0;
}

.header-inner {
  height: 70px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: block;
  width: 153px;
  height: 51px;
}

#logo img {
  margin-right: 8px;
}

#login-button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

/** 테블릿 사이즈 */
@media (min-width: 768px) and (max-width: 1199px) {
  .header-inner {
    margin: 0 24px;
  }
}

/** 모바일 사이즈 */
@media (max-width: 767px) {
  .header-inner {
    margin: 0 16px;
  }
}
