.top-bottom-section {
  height: 540px;
  background-color: #cfe5ff;
}

.top-bottom-section img {
  width: 746px;
  height: auto;
}

.main-section {
  background-color: #fcfcfc;
  overflow: hidden;
  border-radius: 12px;
  height: 444px;
  width: 988px;
  margin: 0 auto 276px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-section img {
  width: 579px;
  height: auto;
}

.part-1 {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 138px;
}

.part-1 > div:first-child {
  margin-bottom: 100px;
  margin-right: 7px;
  width: 367px;
  min-width: 140px;
}

.part-1 h2 {
  width: 330px;
  margin-bottom: 32px;
}

.part-1 a {
  height: 56px;
  font-size: 2rem;
}

.part-2 {
  padding: 0 24px;
}

.part-2 h2 {
  width: 220px;
}

.part-2 > div:first-child {
  margin-right: 64px;
}

.part-3 {
  padding: 0 13px;
  text-align: right;
}

.part-3 h2 {
  word-break: keep-all;
  margin-left: 27px;
  width: 290px;
}

.part-3 > div:first-child {
  width: 317px;
  margin-right: 64px;
}

.part-4 > div:first-child {
  margin-right: 64px;
}

.part-4 h2 {
  word-break: keep-all;
  width: 293px;
}

.part-5 {
  display: flex;
  align-items: end;
  justify-content: center;
}

.part-5 > div:first-child {
  margin-bottom: 172.5px;
}

.highlight {
  color: var(--btn);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  vertical-align: middle;
}

.sub-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 140%;
  vertical-align: middle;
}

.description {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  vertical-align: middle;
}

/** 테블릿 사이즈 */
@media (min-width: 768px) and (max-width: 1199px) {
  .top-bottom-section {
    height: 771px;
    flex: 1;
  }

  .main-section {
    background-color: white;
    border-radius: 12px;
    height: 708px;
    width: 696px;
    margin: 0 auto 52px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-section img {
    width: 696px;
    height: 524px;
    margin-bottom: 24px;
  }

  .highlight {
    margin-bottom: 16px;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.6rem;
    vertical-align: middle;
  }

  .sub-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    vertical-align: middle;
  }

  .description {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    vertical-align: middle;
  }

  .part-1 {
    margin-bottom: 24px;
    padding-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .part-1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .part-1 > div:first-child {
    margin-right: 0;
    width: 512px;
    margin-bottom: 221px;
  }

  .part-1 > div:last-child {
    flex: 1;
    justify-content: flex-end;
  }

  .part-1 h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
  }

  .part-1 a {
    text-align: center;
    width: 357px;
  }

  .part-2 {
    padding: 0;
  }

  .part-2 h2 {
    width: 100%;
  }

  .part-2 > div:first-child {
    margin-right: 0;
  }

  .part-3 {
    padding: 0;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .part-3 h2 {
    width: 100%;
    margin-left: 0;
  }

  .part-3 > div:first-child {
    width: 100%;
    margin-right: 0;
  }

  .part-4 > div:first-child {
    margin-right: 0;
  }

  .part-4 h2 {
    width: 100%;
  }

  .part-5 {
    height: 972px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .part-5 > div:first-child {
    margin-right: 0;
    margin-bottom: 217px;
    text-align: center;
  }
}

/** 모바일 사이즈 */
@media (max-width: 767px) {
  .top-bottom-section {
    height: 540px;
  }

  .main-section {
    background-color: white;
    overflow: unset;
    border-radius: 0;
    height: 417px;
    width: 344px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-section img {
    border-radius: 12px;
    width: 344px;
    height: 259px;
    margin-bottom: 24px;
  }

  .highlight {
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    vertical-align: middle;
  }

  .sub-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    vertical-align: middle;
  }

  .description {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    vertical-align: middle;
  }

  .part-1 {
    margin-bottom: 52px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .part-1 > div:first-child {
    margin-right: 0;
    width: 240px;
    height: 156px;
    margin-bottom: 132px;
  }

  .part-1 h2 {
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
  }

  .part-1 > div:last-child {
    width: 448px;
    height: 204px;
  }

  .part-2 {
    padding: 0;
  }

  .part-2 h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  .part-2 > div:first-child {
    margin-right: 0;
  }

  .part-3 {
    padding: 0;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .part-3 h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  .part-3 > div:first-child {
    margin-right: 0;
  }

  .part-4 > div:first-child {
    margin-right: 0;
  }

  .part-4 h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  .part-5 {
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .part-5 h2 {
    font-size: 3.2rem;
    font-weight: 700;
  }

  .part-5 > div:first-child {
    margin-right: 0;
    margin-bottom: 131px;
    text-align: center;
  }

  .part-5 img {
    width: 375px;
    height: 198px;
  }
}
