:root {
  /* gray */
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray300: #d1d5db;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  /* blue */
  --blue100: #3692ff;
  --blue200: #1967d6;
  --blue300: #1251aa;
  --inactive-btn: #9ca3af;
  /* red */
  --error-red: #f74747;
}

.active-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue100);
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--gray100);

  &:hover {
    background-color: var(--blue200);
  }
  &:disabled {
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.2rem;
    background: var(--gray400);
    color: var(--gray100);
  }
}

/* .disabled-button {
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.2rem;
  background: var(--gray400);
  color: var(--gray100);
} */
